<div>
    <h1>Portfolio</h1>

    <div class="projects">
        <div class="project">
            <img class="left" src="../../assets/img/flask-app.jpg" alt="flask app photo">
            <div>
                <h2>Flask App</h2>
                <p>Social media based project. Includes a login and sign up screen. When logged in
                    you get access to a home screen that shows all messages from each user. Access to 
                    a new post screen. You are able to edit a few parts of your account. And an area 
                    for notes that only the logged in user can see.
                </p>
                <p class="ta-left">Site:<span><a href="https://mathewhumphreyflaskapp.herokuapp.com/" target="_blank">https://mathewhumphreyflaskapp.herokuapp.com/</a></span></p>
                <p class="ta-left">Code:<span><a href="https://github.com/deathlysamurai/flask_app" target="_blank">https://github.com/deathlysamurai/flask_app</a></span></p>
            </div>
        </div>
    </div>
</div>