<div class="content-box" >
    <span class="material-icons position" (click)="haveFun()">emoji_events</span>
  
    <div class="photo position" cdkDrag></div>
  
    <div class="right-side">
      <div class="text">
        <h1>About - Mathew Humphrey</h1>
        <h2>Programmer. Runner. Gamer</h2>
        <table>
          <tr><th>Technologies:</th></tr>
          <tr>
            <td>Java</td>
          </tr>
          <tr>
            <td>C#</td>
          </tr>
          <tr>
            <td>Python</td>
          </tr>
          <tr>
            <td>Angular</td>
          </tr>
          <tr>
            <td>HTML</td>
          </tr>
          <tr>
            <td>CSS</td>
          </tr>
          <tr>
            <td>SQL</td>
          </tr>
          <tr>
            <td>JavaScript</td>
          </tr>
        </table>
      </div>

      <div class="icons">
        <a href="https://github.com/deathlysamurai" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faGithub" size="2x" [spin]="spin"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/mathew-humphrey/" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faLinkedin" size="2x" [spin]="spin"></fa-icon>
        </a>
        <a href="https://www.facebook.com/mathew.humphrey.programming/" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faFacebook" size="2x" [spin]="spin"></fa-icon>
        </a>
        <a href="https://www.instagram.com/deathlysamurai/" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faInstagramSquare" size="2x" [spin]="spin"></fa-icon>
        </a>
      </div>
    </div>
  </div>