<div class="content-box" >
    <span class="material-icons position" (click)="haveFun()">emoji_events</span>
  
    <div class="photo position" cdkDrag></div>
  
    <div class="right-side">
      <div>
        <ul class="header">
          <li>
            <a href=''>Home</a>
          </li>
          <li>
            <a href=''>About</a>
          </li>
          <li>
            <a href=''>Portfolio</a>
          </li>
          <li>
            <a href=''>Contact</a>
          </li>
        </ul>
      </div>
  
      <div class="icons">
        <a href="https://github.com/deathlysamurai" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faGithub" size="4x" [spin]="spin"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/mathew-humphrey/" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faLinkedin" size="4x" [spin]="spin"></fa-icon>
        </a>
        <a href="https://www.facebook.com/mathew.humphrey.programming/" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faFacebook" size="4x" [spin]="spin"></fa-icon>
        </a>
        <a href="https://www.instagram.com/deathlysamurai/" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faInstagramSquare" size="4x" [spin]="spin"></fa-icon>
        </a>
      </div>
    </div>
  </div>