.content-box {
    position: relative;
    height: 100%;
}

.photo {
    height: 35vw;
    width: 35vw;
    background-color: #404046;
    background-image: url('../../assets/img/headshot.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0 0 20px 1px #ebebec;
    z-index: 1;
}

.position {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
}

.right-side {
    position:absolute;
    top:0;
    right:0;
    bottom: 0;
    background-color: #ebebec;
    width: 65%;
    margin: 10px 10px 10px 0;
}

.icons {
    position:absolute;
    bottom:0;
    margin: 0 10px 10px 0;
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

fa-icon {
    color: #404046;
    margin: 0 .75rem;
}

.material-icons {
    color: #ebebec;
    z-index: 1;
    cursor: pointer;
}