@import '~hamburgers/dist/hamburgers.css';

html, body { 
  height: 100%; 
  overflow: hidden;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #404046;
}

body.active div {
  opacity: 50%;
}

body.active .material-icons {
  display: none;
}